@font-face {
    font-family: 'daxline';
    src: url(./DaxlinePro-Light_13129.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quantum';
    src: url(./Quantum-Bold-2.otf)format("otf"),
    url(./Quantum-Bold-3.ttf)format("truetype");
    font-weight: normal;
    font-style: normal;
}